
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

.bodyjeu{

display: flex;
color: #545454;
font-family: sans-serif;
justify-content: center;
}



/******** JEU *********/

.container {

background: #14BDAC;
margin: 50px;
padding: 50px;
border-radius: 25px;
}

.title{
text-align: center;
}

.title span{

color: #F2EBD3;
}

.status-action{

display: flex;
margin-top: 25px;
font-size: 25px;
justify-content: space-around;
}

.reset:hover{

color: #F2EBD3;

}

.game-grid{

background: #0DA192;
display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(3,1fr);
grid-gap: 15px;
margin-top: 50px;
}

.game-cell{

height: 200px;
width: 200px;
background: #14BDAC;
cursor: pointer;
}



/******** INDEX *********/

.bodyindex {
background: url(montagne.jpg);
background-size: cover;
}


.loader{
	-webkit-perspective:700px;
	perspective: 700px;
    text-align: center;
   

}

.loader>span{
	font-size: 130px;
	font-family: "britanic";
	display: inline-block;
	animation:flip 2.6s infinite linear;
	transform-origin:0 70%;
	transform-style:preserve-3d;
	-webkit-transform-style:preserve-3d;
}

@keyframes flip{
	35%{
		transform: rotateX(360deg);
	}
	100%{
		transform: rotatex(360deg);
	}
}


.loader>span:nth-child(even){
	color:rgb(14, 90, 24);

}

.loader>span:nth-child(2){
	animation-delay: 0.3s;
}

.loader>span:nth-child(3){
	animation-delay: 0.6s;
}

.loader>span:nth-child(4){
	animation-delay: 0.9s;
}

.loader>span:nth-child(5){
	animation-delay: 1.2s;
}

.loader>span:nth-child(6){
	animation-delay: 1.5s
}

.loader>span:nth-child(7){
	animation-delay: 1.8s
}